<form>
   <mat-form-field>
    <mat-label>Choose Member</mat-label>
    <mat-select formControlName="idMember">
      <mat-option *ngFor="let member of members" [value]="member.id">
        {{member.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>You selected: {{selectedValue}}</p>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
  </mat-dialog-actions>
</form>